{% extends 'main/base.html' %}

{% load static %}

{% block content %}

  <!--Telephone-->
  <div class="container p-0 d-sm-none" style="background-color: rgb(238, 238, 238);">
    <!--Top Nav fixed-->
    <div class="container-fluid py-2 menu-background">
      <div class="d-flex align-content-center align-items-center">
        <div class="logo">
          <a href="#">
              <span class="h1"><span class="logoM">М</span><span class="logo-end">озаика</span></span>
          </a>
        </div>
        <a href="" class="ms-auto button text-white" data-bs-toggle="modal" data-bs-target="#NavbarSearch">
          <i class="bi bi-search"></i>
        </a>
      </div>
    </div>
    <!--End Top nav-->

    <!--Start product description-->
    <div class="">
      <div class="container product-main-info" style="background-color: white">
        <div class="price">
          <div class="d-flex align-items-end">
            <h1><b>712 &#8381;</b></h1>
            <h3 class="mx-2 "><s class="text-secondary"><small>450 &#8381;</small></s></h3>
          </div>
        </div>
        <hr>
        <div class="name">
          <h4><b>Краска акриловая Текс 1,5л</b></h4>
        </div>
        <div class="product-shord-description">
          <span>Краска для внутренних работ. 1,5л</span>
        </div>
        <div class="d-flex text-secondary justify-content-start p-1">
          <div class="product-stars">
            <i class="bi bi-star-fill"></i>
            4.7
          </div>
          <div class="product-stars">
            &#x2022; 3224 оценок
          </div>
        </div>
      </div>
    </div>
    <div class="container mt-2" style="background-color: white;">
      <div class="d-flex pt-3">
        <div><b>О товаре</b></div>
        <div class="ms-auto">Артикул: 234234</div>
      </div>
      <div class="pt-2">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut faucibus pulvinar elementum integer enim neque volutpat. In iaculis nunc sed augue lacus viverra vitae congue eu. Viverra suspendisse potenti nullam ac tortor vitae purus faucibus. Ac felis donec et odio pellentesque diam. Eget nunc scelerisque viverra mauris in aliquam. Nunc sed augue lacus viverra. Quam elementum pulvinar etiam non quam. Mattis pellentesque id nibh tortor id aliquet lectus. Sem nulla pharetra diam sit amet nisl. Eu scelerisque felis imperdiet proin fermentum leo vel orci porta.
      </div>
    </div>
    <div class="container my-2 py-2" style="background-color: white;">
      <div class="d-flex pt-3">
        <div><b>11 декабря</b></div>
      </div>
      <div class="py-2">Пункт выдачи: Ленина 1</div>
      <div class="pt-2">
        14 дней на возврат
      </div>
    </div>
    <div class="container mt-2 pb-5" style="background-color: white;">
      <div class="d-flex pt-3 gap-2">
        <div><b>Отзывы</b></div>
        <div><b>Вопросы</b></div>
      </div>
      <div class="d-flex text-secondary justify-content-start p-1">
        <div class="product-stars">
          <i class="bi bi-star-fill"></i>
          4.7
        </div>
        <div class="product-stars">
          &#x2022; 3224 оценок
        </div>
      </div>
      <div class="pt-2 pb-2">
        <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item">
              <div class="photo img-wrapper">
                <img src="media/14370.jpeg" class="d-block w-100" alt="...">
              </div>
            </div>
            <div class="carousel-item">
              <div class="photo img-wrapper">
                <img src="media/avatar.webp" class="d-block w-100" alt="...">
              </div>
            </div>
            <div class="carousel-item">
              <div class="photo img-wrapper">
                <img src="media/oboi.webp" class="d-block w-100" alt="...">
              </div>
            </div>
            <div class="carousel-item">
              <div class="photo img-wrapper">
                <img src="media/oboi.webp" class="d-block w-100" alt="...">
              </div>
            </div>
            <div class="carousel-item">
              <div class="pgoto img-wrapper">
                <img src="media/oboi.webp" class="d-block w-100" alt="...">
              </div>
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>
      <button type="button" class="btn btn-outline-primary w-100 pt-2">Смотреть все отзывы</button>
    </div>
    <!--End product description-->

    <!--Bottom nav fixed-->
    <div class="container-fluid pt-5">
      <div class="container fixed-bottom bg-light border">
        <div class="d-flex p-2 gap-2">
          <button type="button" class="btn btn-outline-success w-50">Купить сейчас</button>
          <button type="button" class="btn btn-success w-50">В корзину</button>
        </div>
        <div class="row bottom-icons text-center">
          <a href="#" class="col">
            <i class="bi bi-house-fill"></i>
          </a>
          <a href="#" class="col">
            <i class="bi bi-stack"></i>
          </a>
          <a href="#" class="col button">
            <i class="bi bi-cart-fill position-relative"><span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger" style="font-size: 0.4em;">23</span></i>
          </a>
          <a href="#" class="col">
            <i class="bi bi-heart-fill position-relative"><span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger" style="font-size: 0.4em;">143</span></i>
          </a>
          <a href="#" class="col">
            <i class="bi bi-person-fill"></i>
          </a>
        </div>
      </div>
    </div>
    <!--End bottom navbar-->
    <!--Blank space-->
    <div class="container-fluid pt-5">

    </div>
    <!--End blank space-->

  </div>
  <!--End telephone-->

  <!--Desktop-->
  <div class="container-fluid d-none d-sm-block p-0">
    <!--Header-->
    <ul class="nav flex-column bg-dark menu-background">
      <!--Top line of links-->
      <div class="container-lg">
        <li class="nav-item d-none d-lg-block">
          <ul class="nav">
            <li class="nav-link menu1">
              <a href="#">&#8226; One</a>
            </li>
            <li class="nav-link menu1">
              <a href="#">&#8226; Two</a>
            </li>
            <li class="nav-link menu1">
              <a href="#">&#8226; Three</a>
            </li>
          </ul>
        </li>
        <!--Middle navbar-->
        <li class="nav-item">
          <div class="container-fluid py-1">
            <div class="row pe-2 align-items-center">
              <!--Logo-->
              <div class="col-md-auto logo d-none d-lg-block">
                <a href="#">
                  <h2><span class="logoM">М</span><span class="logo-end">озаика</span></h2>
                </a>
              </div>
              <!--Off canvas button-->
              <div class="col-md-auto text-light d-none d-lg-block">
                <button class="btn btn-outline-light" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" aria-controls="offcanvasExample">
                  <i class="bi bi-list"></i>
                </button>
              </div>
              <div class="col">
                <form>
                  <div class="form-group has-search">
                    <!--
                      <span class="form-control-feedback">
                          <i class="bi bi-search"></i>
                      </span>
                    -->
                      <input type="text" name="query" class="form-control rounded-9" placeholder="Нати на сайте Мозаика" value="">
                  </div>
                </form>
              </div>
              <div class="col-md-auto d-none d-lg-block">
                <div class="container">
                  <div class="row menu1">
                    <div class="col">
                      <a href="#" data-bs-toggle="tooltip" data-bs-title="Cabinet"><i class="bi bi-person-circle" style="font-size: 1.5rem;"></i></a>
                    </div>
                    <div class="col">
                      <a href="#" data-bs-toggle="tooltip" data-bs-title="Your cart"><i class="bi bi-bag" style="font-size: 1.5rem;"></i></a>
                    </div>
                    <div class="col">
                      <a href="#" data-bs-toggle="tooltip" data-bs-title="Your likes"><i class="bi bi-heart" style="font-size: 1.5rem;"></i></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </li>
        <!--Bottom nav element-->
        <li class="nav-item d-none d-lg-block">
          <div class="container-fluid text-light">
            <div class="p-2">
              Other nav element
            </div>
          </div>
        </li>
      </div>
    </ul>
    <!--End header-->

    <!--Cart items-->
    <div class="container-lg">
      <div class="row border mt-3 p-3 widget">
        <div class="col-12">
          <div class="row">
            <div class="col-12 pb-3">
              Корзина
            </div>
          </div>
          <div id="productList">
            <!--Product 1-->
            {% for item in cart %}
              {% with cart_product=item.product %}
                <div class="row pb-4 cart-product" id="{{product.pk}}">
                  <div class="col pe-5">
                    <div class="row">
                      <div class="col-auto">
                        {{cart_product.images.all}}
                        <img class="" src="{{item.images}}" alt="" style="max-height: 100px; width: auto;">
                      </div>
                      <div class="col">
                        <div class="col product-description">{{cart_product.name}}</div>
                      </div>
                    </div>
                  </div>
                  <div class="col-auto">
                    <div class="row h-100">
                      <div class="col-auto">
                        <div class="d-flex gap-3 h-100">
                          <div>
                              {{item.price}}
                          </div>
                          <div class="d-flex align-items-start pe-5">
                            <div class="d-flex gap-2 align-items-center">
                              <a href="#" class="minus-button" id="product1-minus"><i class="bi bi-dash-square fs-3 text-dark"></i></a>
                              <div class="px-1 input-wrapper"><input size="2" type="text" id="product_{{cart_product.id}}" class="quantity" disabled value="{{item.quantity}}" maxlength="2" min="1"></div>
                              <a href="#" class="plus-button"><i class="bi bi-plus-square fs-3 text-dark"></i></a>
                            </div>
                          </div>
                          <div class="input-hidden">
                              <input type="text" value="{{item.price}}" class="price">
                          </div>
                          <div class="d-flex flex-column justify-content-start">
                            <div class="pt-2 pb-3 fw-bold input-total-wrapper">
                              <input type="text" value="{{item.total_price}}" class="total" disabled maxlength="2" min="1" size="1">
                            </div>
                            <div class="">
                              <div class="d-flex gap-3 ms-auto cart-product-icons align-items-start">
                                <a href="#"><i class="bi bi-heart"></i></a>
                                <form action="{% url 'cart:remove_from_cart' cart_product.id %}" method="post">
                                  {% csrf_token %}
                                  <button type="submit" class="btn btn-success"><i class="bi bi-trash3"></i></button>
                                </form>

                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              {% endwith %}
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
    <!--Delivery-->
    <div class="container-lg mt-3">
      <div class="row widget p-3 border">
        Delivery
      </div>
    </div>
    <!--Payment type-->
    <div class="container-lg mt-3">
      <div class="row widget p-3 border">
        Payment type
      </div>
    </div>
    <!--My personal data-->
    <div class="container-lg mt-3">
      <div class="row widget p-3 border">
        My personal data
      </div>
    </div>
    <!--Total Order-->
    <div class="container-lg mt-3">
      <div class="row widget p-3 border">
        <div class="d-flex flex-row">
          <div class="d-flex gap-2">
            <div>Товаров: </div>
            <div class="cart-total-products"></div>
          </div>
          <div class="ms-auto d-flex gap-2">
            <div>На сумму: </div>
            <div class="cart-total-value"></div>
          </div>
          
        </div>
        
      </div>
    </div>
    <!--End Cart items-->

    <!--Bottom nav fixed-->
    <div class="container-fluid pt-3 d-lg-none fixed-bottom bg-light border">
      <div class="d-flex pb-3 gap-2">
        <button type="button" class="btn btn-outline-success w-50">Купить сейчас</button>
        <button type="button" class="btn btn-success w-50">В корзину</button>
      </div>
      <div class="row bottom-icons text-center">
        <a href="#" class="col">
          <i class="bi bi-house-fill"></i>
        </a>
        <a href="#" class="col">
          <i class="bi bi-stack"></i>
        </a>
        <a href="#" class="col button">
          <i class="bi bi-cart-fill position-relative"><span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger" style="font-size: 0.4em;">23</span></i>
        </a>
        <a href="#" class="col">
          <i class="bi bi-heart-fill position-relative"><span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger" style="font-size: 0.4em;">143</span></i>
        </a>
        <a href="#" class="col">
          <i class="bi bi-person-fill"></i>
        </a>
      </div>
    </div>
  </div>
  <!--end Off Canvas-->

{% endblock content %}

{% block custom_script %}
	<script src="{% static '/js/cart.js' %}"></script>
{% endblock custom_script %}