{% extends 'main/base.html' %}

{% load static %}

{% block content %}
<div class="container">
	<div class="d-flex flex-column gap-3">
		{% for product in products %}
			<div>Name: {{product.name}}</div>
			<div>Description: {{product.description}}</div>
			<div>Rating: {{product.rating}}</div>
			<div>
				{% for property in product.properties.all %}
					<div>Color: {{property.color}}</div>
					<div>Price: {{property.price}}</div>
					<div>Weight: {{property.weight}}</div>
					<div>Width: {{property.width}}</div>
					<div>Height: {{property.height}}</div>
					<div>Length: {{property.length}}</div>
				{% endfor %}
			</div>
		{% endfor %}
	</div>
</div>
{% endblock content %}
